:root {
  --primary-color: #f1a017;
  --ligth-font-color: #fff;
  --dark-font-color: #000;
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.nav {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  view-transition-name: nav;
}

.nav h1 {
  color: var(--ligth-font-color);
  padding: 15px;
  margin: 15px;
}

.nav a:hover {
  color: var(--dark-font-color);
  text-decoration: underline;
  transition-property: "color";
  transition-duration: 0.5s;
}

#cat-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.cat-image {
  flex: 0 1 auto;
  height: 300px;
  position: relative;
  list-style: none;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.cat-image img {
  width: 400px;
  height: 100%;
  display: block;
  background: white;
  z-index: 100;
  position: relative;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  view-transition-name: images;
}

/* VIEW TRANSITION API */

/* DOCUMENT TRANSITION CROSS-FADE IN 5 SEC*/
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1000ms;
}

::view-transition-old(nav),
::view-transition-new(nav) {
  animation: none;
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(0px);
  }
}

::view-transition-new(root) {
  animation: 500ms ease-in-out slide-from-bottom;
}

::view-transition-group(images) {
  animation: 500ms ease-in-out slide-from-bottom; 
}